.footer {
  margin: 1.43rem;
}
.footer__block {
  width: 100%;
  height: 300px;
  background-color: black;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}