{% extends 'glav/base.html' %}

<!-- Loading static to able use style and etc. -->
{% load static %}

<!-- Loading costom tags -->
{% load glav_tags %}

<!-- Link block to use style for this template -->
{% block style_link %} <link rel="stylesheet" href="{% static 'glav/css/show_news.css' %}"> {% endblock %}

<!-- The main block content which will be used in base.html -->
{% block content %}
<section class="showing">
    <div class="container">
        <div class="showing__block">
            <div class="showing__grid grid">
                {% for n in news %}
                    {% item_card n %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}