@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Montserrat";
  background-color: #EBEBEB;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.container {
  max-width: 1210px;
  padding: 0 20px;
  margin: 0 auto;
}

.logo {
  color: #00C7F2;
  font-size: 2rem;
  font-weight: bold;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.logo span {
  color: black;
}
.logo-onblack {
  color: #00C7F2;
  font-size: 2rem;
  font-weight: bold;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.logo-onblack span {
  color: white;
}

.text-hover {
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.text-hover:hover {
  color: #f57a00;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: 1fr 0.625rem 1fr 0.625rem 1fr 0.625rem 1fr;
      grid-template: auto/repeat(4, 1fr);
  gap: 1.25rem 0.625rem;
}

@media screen and (max-width: 721px) {
  html, body {
    font-size: 14px;
  }

  .grid {
    -ms-grid-rows: auto;
    -ms-grid-columns: (1fr)[3];
        grid-template: auto/repeat(3, 1fr);
  }
}
._selected {
  color: #f57a00;
}

@media screen and (max-width: 528px) {
  html, body {
    font-size: 12px;
  }

  .grid {
    -ms-grid-rows: auto;
    -ms-grid-columns: (1fr)[2];
        grid-template: auto/repeat(2, 1fr);
  }
}
@media screen and (max-width: 528px) {
  .grid {
    -ms-grid-rows: auto;
    -ms-grid-columns: 1fr;
        grid-template: auto/1fr;
  }
}